In [1]:
import pandas as pd
import sklearn

In [28]:
data = pd.read_csv(r"C:\Users\itzad\Downloads\archive (7)\credit_card_approval.csv")

In [5]:
data["CODE_GENDER"].value_counts()

CODE_GENDER
F    333832
M    203835
Name: count, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()

In [9]:
data["CODE_GENDER"] = le.fit_transform(data["CODE_GENDER"])

In [10]:
data

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,0,Y,N,2+ children,270000.0,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C,0
1,5142753,0,N,N,No children,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,-4,0,0
2,5111146,1,Y,Y,No children,270000.0,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,0,C,0
3,5010310,0,Y,Y,1 children,112500.0,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,-3,0,0
4,5010835,1,Y,Y,2+ children,139500.0,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537662,5142999,1,Y,N,1 children,166500.0,Secondary / secondary special,Married,With parents,-12372,-5401,1,0,1,0,Core staff,-8,0,0
537663,5010773,0,N,Y,No children,135000.0,Higher education,Married,With parents,-14160,-4635,1,0,0,0,Sales staff,-8,0,0
537664,5105601,1,N,Y,No children,180000.0,Higher education,Married,House / apartment,-24204,-2462,1,0,0,0,Private service staff,-7,0,0
537665,5132833,1,Y,N,No children,220500.0,Secondary / secondary special,Married,House / apartment,-22647,-3847,1,0,1,0,Laborers,-1,0,0
537666,5135381,0,N,Y,No children,387000.0,Secondary / secondary special,Married,House / apartment,-20082,-4979,1,0,0,0,Sales staff,-45,C,0

In [11]:
data["CNT_CHILDREN"].value_counts()

CNT_CHILDREN
No children    343151
1 children     127695
2+ children     66821
Name: count, dtype: int64

In [27]:
data.loc["CNT_CHILDREN"]

KeyError: 'CNT_CHILDREN'

In [12]:
X = data[["CODE_GENDER","AMT_INCOME_TOTAL","FLAG_MOBIL","FLAG_PHONE"]]

In [13]:
y = data["TARGET"]

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
log = LogisticRegression()

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2)

In [18]:
log.fit(X_train,y_train)

LogisticRegression()

In [19]:
log.score(X_test,y_test)

0.9962058511726524

In [22]:
log.predict([[1,3000000,0,0]])

C:\Users\itzad\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)