In [1]:
#import the libraries
import pandas as pd 
import matplotlib.pyplot as plt
import sklearn

In [2]:
#importing the dataset
data=pd.read_csv("D:/datasets/auto-mpg.csv")

In [3]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
X=data.drop(["car name","origin","mpg","horsepower"],axis=1)

In [5]:
y=data["mpg"]

In [6]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [9]:
len(X_train)

318

In [10]:
len(y_train)

318

In [11]:
from sklearn.neighbors import KNeighborsRegressor

In [12]:
knn_model  = KNeighborsRegressor(n_neighbors=10)

In [13]:
knn_model.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=10)

In [14]:
knn_pred=knn_model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error, r2_score

In [19]:
import numpy as np

In [20]:
print(np.sqrt(mean_squared_error(y_test,knn_pred)))

4.220642279321952

In [17]:
print(r2_score(y_test,knn_pred))

0.6869677910178446

In [21]:
X_train

     cylinders  displacement  weight  acceleration  model year
384          4          91.0    1965          15.7          82
381          4         107.0    2205          14.5          82
28           8         304.0    4732          18.5          70
358          4         120.0    2635          18.3          81
195          4          85.0    2035          22.2          76
..         ...           ...     ...           ...         ...
231          8         400.0    4325          12.2          77
133          6         250.0    3781          17.0          74
167          4          97.0    2171          16.0          75
42           8         383.0    4955          11.5          71
210          6         156.0    2930          15.5          76

[318 rows x 5 columns]

In [22]:
!pip install joblib

Requirement already satisfied: joblib in c:\users\itzad\anaconda3\lib\site-packages (1.1.1)

In [23]:
import joblib

In [24]:
joblib.dump(knn_model,"C:/Users/itzad/OneDrive/Desktop/My Model Deployment/mymodel.h5")

['C:/Users/itzad/OneDrive/Desktop/My Model Deployment/mymodel.h5']

In [25]:
!pip install streamlit

Requirement already satisfied: streamlit in c:\users\itzad\anaconda3\lib\site-packages (1.22.0)
Requirement already satisfied: protobuf<4,>=3.12 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (3.20.3)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (4.11.3)
Requirement already satisfied: validators>=0.2 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (0.20.0)
Requirement already satisfied: blinker>=1.0.0 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: click>=7.0 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: numpy in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (1.23.5)
Requirement already satisfied: pyarrow>=4.0 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (12.0.0)
Requirement already satisfied: packaging>=14.1 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (22.0)
Requirement already satisfied: pympler>=0.9 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (1.0.1)
Requirement already satisfied: tornado>=6.0.3 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (6.1)
Requirement already satisfied: watchdog in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: pydeck>=0.1.dev5 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tzlocal>=1.1 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (5.0)
Requirement already satisfied: gitpython!=3.1.19 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (3.1.31)
Requirement already satisfied: cachetools>=4.0 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (5.3.0)
Requirement already satisfied: pandas<3,>=0.25 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (1.5.3)
Requirement already satisfied: tenacity<9,>=8.0.0 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (8.0.1)
Requirement already satisfied: typing-extensions>=3.10.0.0 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (4.4.0)
Requirement already satisfied: requests>=2.4 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (2.28.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (9.4.0)
Requirement already satisfied: altair<5,>=3.2.0 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (4.2.2)
Requirement already satisfied: python-dateutil in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: rich>=10.11.0 in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (13.3.5)
Requirement already satisfied: toml in c:\users\itzad\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\itzad\anaconda3\lib\site-packages (from altair<5,>=3.2.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in c:\users\itzad\anaconda3\lib\site-packages (from altair<5,>=3.2.0->streamlit) (0.12.0)
Requirement already satisfied: jinja2 in c:\users\itzad\anaconda3\lib\site-packages (from altair<5,>=3.2.0->streamlit) (3.1.2)
Requirement already satisfied: entrypoints in c:\users\itzad\anaconda3\lib\site-packages (from altair<5,>=3.2.0->streamlit) (0.4)
Requirement already satisfied: colorama in c:\users\itzad\anaconda3\lib\site-packages (from click>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\itzad\anaconda3\lib\site-packages (from gitpython!=3.1.19->streamlit) (4.0.10)
Requirement already satisfied: zipp>=0.5 in c:\users\itzad\anaconda3\lib\site-packages (from importlib-metadata>=1.4->streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\itzad\anaconda3\lib\site-packages (from pandas<3,>=0.25->streamlit) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\itzad\anaconda3\lib\site-packages (from python-dateutil->streamlit) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\itzad\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\itzad\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\itzad\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\itzad\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (1.26.14)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\itzad\anaconda3\lib\site-packages (from rich>=10.11.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\itzad\anaconda3\lib\site-packages (from rich>=10.11.0->streamlit) (2.15.1)
Requirement already satisfied: tzdata in c:\users\itzad\anaconda3\lib\site-packages (from tzlocal>=1.1->streamlit) (2023.3)
Requirement already satisfied: decorator>=3.4.0 in c:\users\itzad\anaconda3\lib\site-packages (from validators>=0.2->streamlit) (5.1.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\itzad\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\itzad\anaconda3\lib\site-packages (from jinja2->altair<5,>=3.2.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\itzad\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\itzad\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\itzad\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=10.11.0->streamlit) (0.1.2)

In [26]:
X_train

     cylinders  displacement  weight  acceleration  model year
384          4          91.0    1965          15.7          82
381          4         107.0    2205          14.5          82
28           8         304.0    4732          18.5          70
358          4         120.0    2635          18.3          81
195          4          85.0    2035          22.2          76
..         ...           ...     ...           ...         ...
231          8         400.0    4325          12.2          77
133          6         250.0    3781          17.0          74
167          4          97.0    2171          16.0          75
42           8         383.0    4955          11.5          71
210          6         156.0    2930          15.5          76

[318 rows x 5 columns]

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [29]:
knn_model.score(X_test,y_test)

0.6869677910178446

In [30]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10