In [1]:
# import the required libraries

import pandas as pd
import sklearn

In [91]:
# import the data

data = pd.read_csv(r"E:\datasets\loan_approval.csv")

In [92]:
data

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
476,610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
477,611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
478,612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
479,613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [93]:
from sklearn.preprocessing import LabelEncoder

In [94]:
le = LabelEncoder()

In [95]:
data["Gender"] = le.fit_transform(data["Gender"] )

In [96]:
data["Married"] = le.fit_transform(data["Married"])

In [97]:
data["Dependents"] = le.fit_transform(data["Dependents"])

In [98]:
data["Education"] = le.fit_transform(data["Education"])

In [99]:
data["Property_Area"] = le.fit_transform(data["Property_Area"])

In [100]:
data["Self_Employed"] = le.fit_transform(data["Self_Employed"])

In [101]:
# Divide data into X and y

X = data.drop(["Unnamed: 0","Loan_ID","Loan_Status"],axis=1)

In [102]:
data["Loan_Status"] = data["Loan_Status"].map({'Y':1,"N":0})

In [103]:
y = data["Loan_Status"]

In [104]:
y

0      0
1      1
2      1
3      1
4      1
      ..
475    1
476    1
477    1
478    1
479    0
Name: Loan_Status, Length: 480, dtype: int64

KeyError: 'Loan_Status'

In [111]:
# Split the data into train and test

from sklearn.model_selection import train_test_split

In [112]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [113]:
# Import the algorithm and initialize it

from sklearn.linear_model import LogisticRegression

In [114]:
log_model = LogisticRegression()

In [115]:
# Import the boosting algorithm

from sklearn.ensemble import AdaBoostClassifier

In [116]:
ada_boost = AdaBoostClassifier(estimator=log_model,n_estimators=5)

In [117]:
# Pass training data to adaboost

ada_boost.fit(X_train,y_train)

AdaBoostClassifier(estimator=LogisticRegression(), n_estimators=5)

In [125]:
X_test.reset_index(inplace=True)

In [128]:
X_test.drop(["level_0","index"],axis=1,inplace=True)

In [129]:
ada_pred = ada_boost.predict(X_test)

In [130]:
from sklearn.metrics import classification_report,confusion_matrix

In [131]:
print(classification_report(y_test,ada_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        33
           1       0.66      1.00      0.79        63

    accuracy                           0.66        96
   macro avg       0.33      0.50      0.40        96
weighted avg       0.43      0.66      0.52        96

C:\Users\itzad\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\itzad\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\itzad\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [132]:
ada_boost.estimators_

[LogisticRegression(random_state=173728988),
 LogisticRegression(random_state=82843970),
 LogisticRegression(random_state=1906259318),
 LogisticRegression(random_state=1722129034),
 LogisticRegression(random_state=993420662)]

In [133]:
ada_boost.estimator_weights_

array([1., 1., 1., 1., 1.])

In [68]:
X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
181,1,1,1,0,0,3155,1779.0,140.0,360.0,1.0,1
216,1,1,2,0,0,3900,0.0,90.0,360.0,1.0,1
271,1,0,0,0,0,8750,4167.0,308.0,360.0,1.0,0
0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
204,1,0,0,0,0,2060,2209.0,134.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
126,1,1,2,0,0,4167,1447.0,158.0,360.0,1.0,0
467,1,1,0,0,1,9963,0.0,180.0,360.0,1.0,0
95,1,1,1,0,1,10513,3850.0,160.0,180.0,0.0,2
458,1,1,0,0,0,2297,1522.0,104.0,360.0,1.0,2
350,1,1,2,0,0,3340,1710.0,150.0,360.0,0.0,0

In [134]:
X_test.iloc[1,1:]

Married                 0.0
Dependents              0.0
Education               0.0
Self_Employed           0.0
ApplicantIncome      2833.0
CoapplicantIncome    1857.0
LoanAmount            126.0
Loan_Amount_Term      360.0
Credit_History          1.0
Property_Area           0.0
Name: 1, dtype: float64

In [135]:
ada_pred[0]

1

In [137]:
y_test

292    1
214    1
341    1
9      1
58     1
      ..
205    0
441    0
461    1
179    1
202    0
Name: Loan_Status, Length: 96, dtype: int64

In [140]:
for i in ada_boost.estimators_:
        each_pred = i.predict([X_test.iloc[0]])
        print(each_pred)

[1]
[1]
[0]
[1]
[0]